@charset "UTF-8";
.header {
  padding: 0;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  width: auto;
  background-color: #1d1d1d;
}
.navbar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.navbar__logo {
  text-decoration: none;
  margin-right: 35px;
}
.navbar__logo img {
  width: 40px;
  height: auto;
  display: block;
}
.navbar__toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: #c9c9c9;
}
.navbar__toggle--open {
  color: #c9c9c9;
}
.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}
.navbar__link {
  color: #c9c9c9;
  font-family: "Handelson-One", "Arial Black", "Impact", sans-serif;
  font-weight: 400;
  color: #c9c9c9;
  text-decoration: none;
  white-space: nowrap;
  font-size: 22px;
}
.navbar__unit {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  list-style: none;
  text-decoration: none;
  margin-right: 40px;
}
.navbar__unit:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media (max-width: 768px) and (orientation: portrait) {
  .navbar__header {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 0.2s ease, visibility 0.1s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, visibility 0.1s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, visibility 0.1s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, visibility 0.1s ease, -webkit-transform 0.3s ease;
  }
  .navbar__toggle {
    display: block;
  }
  .navbar__nav--open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar__link {
    font-size: 40px;
  }
  .navbar__unit {
    margin: 15px 0;
  }
}
@media (min-width: 769px), (orientation: landscape) {
  .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__toggle {
    display: none;
  }
}

@font-face {
  font-family: "ReformaGrotesk";
  src: url("../fonts/ReformaGroteskMedium.woff2") format("woff2"), url("../fonts/ReformaGroteskMediumC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReformaGrotesk";
  src: url("../fonts/ReformaGroteskBold.woff2") format("woff2"), url("../fonts//ReformaGroteskBoldC.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Handelson-One";
  src: url("../fonts/Handelson-One.woff2") format("woff2"), url("../fonts/Handelson-One.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MinionPro-Bold";
  src: url("../fonts/MinionPro-Bold.woff2") format("woff2"), url("../fonts/MinionPro-Bold.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}
.banner__logo {
  background-image: url("/images/FlavoraLogoNewGrey.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 230px;
  height: 230px;
}
.banner__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 84px;
}
.banner__point {
  background-color: #fff;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}
.banner__text {
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 30px 0 80px;
  letter-spacing: 0.2rem;
  max-width: 300px;
  text-align: center;
}

.banner__button {
  margin: 210px 0 63px;
  padding: 0;
  background-color: rgba(20, 19, 19, 0.05);
  border: none;
  height: 48px;
  width: 200px;
  position: relative;
  overflow: hidden;
  color: #c9c9c9;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.banner__button svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.banner__button rect {
  fill: none;
  stroke: #c9c9c9;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.banner__button:hover {
  background: rgba(20, 19, 19, 0);
  cursor: pointer;
}
.banner__button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 768px) {
  /* Стили для экранов с шириной до 768px */
  .banner__logo {
    width: 180px;
    height: 180px;
  }
  .banner__button {
    margin: 137px 0 186px;
  }
}
.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  padding: 0 8vw;
  grid-gap: 20px;
  margin: 40px 0 0;
}
.achievements__sheets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 350px;
}
.achievements__inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 370px;
}
.achievements__points.achievements__points {
  -ms-flex-item-align: center;
      align-self: center;
}
.achievements__title {
  margin: 0 0 20px;
  line-height: 38px;
  font-size: 32px;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
}
.achievements__cell {
  padding: 11px 5px;
  margin-bottom: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 3px solid #141313;
}
.achievements__number {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.achievements__cup {
  margin: 6px 0 0;
  text-align: center;
}
.achievements__right-column {
  margin: 30px 0 0;
  margin-left: -3px;
}

.calc {
  color: #fff;
  padding: 70px;
}
.calc__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc__input {
  background-color: #141313;
  border: none;
  text-align: right;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  max-width: 100px;
  width: 100%;
  min-height: 30px;
  padding: 0;
}
.calc__input:focus {
  outline: none;
}
.calc__input::-webkit-outer-spin-button, .calc__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calc__input[type=number], .calc__input[type=number]:hover, .calc__input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.calc__sign {
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  margin: 0 6px;
}
.calc__confirm {
  color: red;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #141313;
  border: none;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  max-width: 50px;
  width: 100%;
  min-height: 30px;
  padding: 0;
  margin-left: 10px;
}
.calc__confirm:hover {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #454545;
          box-shadow: 0 0 0 2px #fff, 0 0 0 2px #454545;
  cursor: pointer;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-top: 15px;
  padding: 0;
}
.social-icons__icon {
  list-style-type: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 40px;
  height: 40px;
  fill: red;
}
.social-icons__icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.social-icons__link {
  display: block;
  width: 40px;
  height: 40px;
}
.social-icons__icon.telegram-icon {
  background-image: url("../../images/free-icon-font-telegram-6422206.svg");
}
.social-icons__icon.inst-icon {
  background-image: url("../../images/free-icon-font-instagram-6422200.svg");
}
.social-icons__icon.watsapp-icon {
  background-image: url("../../images/free-icon-font-whatsapp-6422213.svg");
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.contacts {
  width: 100%;
  margin: 85px 0 0;
  min-height: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.contacts__cell {
  border: 2px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__cell:last-child {
  border-right: 2px solid #141313;
}
.contacts__description {
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.contacts__address {
  color: #fff;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  margin: 32px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.us-products {
  padding: 55px 60px;
  background-image: url("../images/1702651597_kalix-club-p-svetlii-mramor-tekstura-vkontakte-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  padding: 0 0 30px;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .product-page {
    gap: 40px;
    padding: 0 20px 30px;
  }
}
.product-page__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #c9c9c9;
  font-family: "Handelson-One", "Arial Black", "Impact", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .product-page__title {
    font-size: 36px;
  }
}
.product-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .product-page__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}
.product-page__image {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .product-page__image {
    max-width: 400px;
  }
}
.product-page__info {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: rgba(108, 108, 108, 0.9333333333);
  padding: 20px;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .product-page__info {
    text-align: left;
    border-radius: 7px;
  }
}
.product-page__details {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-page__details li {
  font-size: 22px;
  line-height: 1.5;
}
.product-page__description {
  font-size: 22px;
}
.product-page__usage {
  font-size: 22px;
  margin: 20px 0 0;
}
.product-page__cocktail-title {
  font-size: 20px;
  margin-top: 20px;
}
.product-page__cocktail-ingredients {
  list-style: none;
  padding: 0;
}
.product-page__cocktail-ingredients li {
  font-size: 20px;
}
.product-page__cocktail-instructions {
  font-size: 20px;
  margin-top: 10px;
}

.slider-image {
  background-color: rgba(108, 108, 108, 0.9333333333);
  padding: 60px 0 0;
}
.slider-image .swiper-button-next::after,
.slider-image .swiper-button-prev::after {
  color: #141313;
  font-size: 30px;
}

.swiper {
  max-width: 1000px;
}

.slider-description {
  background-color: rgba(108, 108, 108, 0.9333333333);
}

.slider-item {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.slider-item__image {
  max-height: 300px;
  max-width: 100%;
  border-radius: 10px;
}

.slider-item2 {
  padding: 0 20px;
  max-width: 600px;
  margin: 30px auto 0;
  letter-spacing: 0.1rem;
}
.slider-item2__description {
  text-align: center;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #141313;
  font-size: 24px;
}

.video-player {
  padding: 5px 20px;
  background-color: #1d1d1d; /* Цвет фона */
}
.video-player__element {
  max-width: 500px;
  width: 100%;
  height: 300px;
  max-height: 300px;
  margin: 0 auto 0;
}

@media screen and (max-width: 500px) {
  .video-player {
    padding: 0 20px;
  }
  .video-player__element {
    height: 200px;
    max-height: 200px;
  }
}
.footer {
  background-color: #1d1d1d;
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #c9c9c9;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 10px;
  max-width: 100%;
  width: 100%;
}
.footer__description {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__year {
  margin: 0;
}
.footer__link {
  text-decoration: none;
  color: #523475;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__name {
  margin: 0 4px;
}
.footer__icon {
  width: 15px;
  height: 15px;
}

.description-of {
  background-color: #1d1d1d;
  height: auto;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.description-of__text {
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #c9c9c9;
  font-size: 30px;
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}
.description-of .flavora-font {
  color: #c9c9c9;
  font-family: "MinionPro-Bold", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 30px;
}
@media (max-width: 768px) {
  .description-of__text {
    font-size: 26px;
    max-width: 100%;
    gap: 30px;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.popup {
  background: #1d1d1d;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  color: #c9c9c9;
}
.popup__close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.popup__title {
  color: #c9c9c9;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
  color: #c9c9c9;
}
.popup__content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .popup-overlay {
    padding: 20px;
    width: calc(100vw - 40px);
    max-width: none;
  }
}
.main {
  background-image: url("/public/images/mainPic2.jpg");
  background-color: #1d1d1d;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 700px;
  position: relative;
}
@media (max-width: 768px) {
  .main {
    background-position: right 56% center;
  }
}