@charset "UTF-8";
.header {
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 30px 60px 0;
}
.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}
.navbar__unit {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  list-style: none;
  text-decoration: none;
  margin-right: 40px;
}
.navbar__unit:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.navbar__unit:last-child {
  margin-right: 0;
}
.navbar__link {
  text-decoration: none;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@font-face {
  font-family: "ReformaGrotesk";
  src: url("../fonts/ReformaGroteskMedium.woff2") format("woff2"), url("../fonts/ReformaGroteskMediumC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReformaGrotesk";
  src: url("../fonts/ReformaGroteskBold.woff2") format("woff2"), url("../fonts//ReformaGroteskBoldC.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}
.banner__logo {
  background-image: url("/images/LogoWithTextWhite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  margin-bottom: 80px;
}
.banner__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 84px;
}
.banner__point {
  background-color: #fff;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}
.banner__text {
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 80px 0 0;
  letter-spacing: 0.2rem;
  max-width: 300px;
  text-align: center;
}

.banner__button {
  margin: 40px 0 70px;
  padding: 0;
  background-color: rgba(20, 19, 19, 0);
  border: none;
  height: 32px;
  width: 130px;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.banner__button svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.banner__button rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.banner__button:hover {
  background: rgba(20, 19, 19, 0);
  cursor: pointer;
}
.banner__button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 480px) {
  /* Стили для экранов с шириной до 480px */
  .banner__button {
    margin: 40px 0 30px;
  }
}
.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  padding: 0 8vw;
  grid-gap: 20px;
  margin: 40px 0 0;
}
.achievements__sheets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 350px;
}
.achievements__inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 370px;
}
.achievements__points.achievements__points {
  -ms-flex-item-align: center;
      align-self: center;
}
.achievements__title {
  margin: 0 0 20px;
  line-height: 38px;
  font-size: 32px;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
}
.achievements__cell {
  padding: 11px 5px;
  margin-bottom: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 3px solid #141313;
}
.achievements__number {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.achievements__cup {
  margin: 6px 0 0;
  text-align: center;
}
.achievements__right-column {
  margin: 30px 0 0;
  margin-left: -3px;
}

.calc {
  color: #fff;
  padding: 70px;
}
.calc__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc__input {
  background-color: #141313;
  border: none;
  text-align: right;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  max-width: 100px;
  width: 100%;
  min-height: 30px;
  padding: 0;
}
.calc__input:focus {
  outline: none;
}
.calc__input::-webkit-outer-spin-button, .calc__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calc__input[type=number], .calc__input[type=number]:hover, .calc__input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.calc__sign {
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  margin: 0 6px;
}
.calc__confirm {
  color: red;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #141313;
  border: none;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  max-width: 50px;
  width: 100%;
  min-height: 30px;
  padding: 0;
  margin-left: 10px;
}
.calc__confirm:hover {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #454545;
          box-shadow: 0 0 0 2px #fff, 0 0 0 2px #454545;
  cursor: pointer;
}

.social-icons {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 20%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9999;
}
.social-icons__icon {
  list-style-type: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
.social-icons__icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.social-icons__link {
  width: 30px;
  height: 30px;
  display: block;
}
.social-icons__icon.telegram-icon {
  background-image: url("../../images/free-icon-font-telegram-6422206.svg");
}
.social-icons__icon.inst-icon {
  background-image: url("../../images/free-icon-font-instagram-6422200.svg");
}
.social-icons__icon.watsapp-icon {
  background-image: url("../../images/free-icon-font-whatsapp-6422213.svg");
  margin: 7px 0;
}

.contacts {
  width: 100%;
  margin: 85px 0 0;
  min-height: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.contacts__cell {
  border: 2px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__cell:last-child {
  border-right: 2px solid #141313;
}
.contacts__description {
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.contacts__address {
  color: #fff;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  margin: 32px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.us-products {
  padding: 55px 60px;
  background-image: url("../images/1702651597_kalix-club-p-svetlii-mramor-tekstura-vkontakte-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.product__pic {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__description {
  margin: 0;
  max-width: 400px;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 480px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .product:first-child {
    margin-top: 0px;
  }
}
.slider-image {
  background-color: rgba(46, 39, 39, 0.1803921569);
  padding: 60px 0 0;
}
.slider-image .swiper-button-next::after,
.slider-image .swiper-button-prev::after {
  color: #141313;
  font-size: 30px;
}

.swiper {
  max-width: 1000px;
}

.slider-description {
  background-color: rgba(46, 39, 39, 0.1803921569);
}

.slider-item {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.slider-item__image {
  max-height: 450px;
  max-width: 100%;
  border-radius: 20px;
}

.slider-item2 {
  padding: 0 20px;
  max-width: 600px;
  margin: 30px auto 0;
  letter-spacing: 0.1rem;
  border-radius: 10px;
}
.slider-item2__description {
  text-align: center;
  color: #fff;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #141313;
  font-size: 24px;
}

.video-player {
  padding: 5px 0;
  background-color: #ffffff; /* Цвет фона */
  background-image: radial-gradient(circle, #000000 1px, transparent 1px), radial-gradient(circle, #000000 1px, transparent 1px);
  background-size: 40px 40px; /* Размер клеток */
  background-position: 0 0, 20px 20px; /* Смещение для шахматного порядка */
}
.video-player__element {
  max-width: 500px;
  width: 100%;
  height: 300px;
  max-height: 300px;
  margin: 0 auto 0;
}

@media screen and (max-width: 500px) {
  .video-player {
    padding: 0;
  }
  .video-player__element {
    height: 200px;
    max-height: 200px;
  }
}
.main {
  background-image: url("/images/Default_A_light_almost_white_background_In_the_foreground_slig_2.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 700px;
  position: relative;
}