.header {
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #523475;
}
.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}
.navbar__unit {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  list-style: none;
  text-decoration: none;
  margin-right: 40px;
}
.navbar__unit:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.navbar__unit:last-child {
  margin-right: 0;
}
.navbar__link {
  text-decoration: none;
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@font-face {
  font-family: "ReformaGrotesk";
  src: url("../../fonts/ReformaGroteskMedium.woff2") format("woff2"), url("../../fonts/ReformaGroteskMediumC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReformaGrotesk";
  src: url("../../fonts/ReformaGroteskBold.woff2") format("woff2"), url("../../fonts//ReformaGroteskBoldC.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}
.banner__logo {
  background-image: url("../../images/LogoWithText.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  margin-bottom: 80px;
}
.banner__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 84px;
}
.banner__point {
  background-color: #523475;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}
.banner__text {
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 80px 0 0;
  letter-spacing: 0.2rem;
  max-width: 300px;
  text-align: center;
}
.banner__contacts {
  width: 100%;
  margin: 85px 0 0;
  min-height: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.banner__cell {
  border: 3px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner__cell:last-child {
  border-right: 3px solid #141313;
}
.banner__description {
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.banner__address {
  color: #523475;
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  margin: 32px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.banner__button {
  margin: 40px 0 0;
  padding: 0;
  background-color: #141313;
  border: none;
  height: 32px;
  width: 130px;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.banner__button svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.banner__button rect {
  fill: none;
  stroke: #523475;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.banner__button:hover {
  background: rgba(20, 19, 19, 0);
  cursor: pointer;
}
.banner__button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #523475;
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  padding: 0 8vw;
  grid-gap: 20px;
  margin: 40px 0 0;
}
.achievements__sheets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.achievements__inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.achievements__points.achievements__points {
  -ms-flex-item-align: center;
      align-self: center;
}
.achievements__title {
  margin: 0 0 20px;
  line-height: 38px;
  font-size: 32px;
  color: #523475;
  font-family: "ReformaGrotesk", sans-serif;
  font-weight: 400;
  color: #fff;
}
.achievements__cell {
  padding: 11px 5px;
  margin-bottom: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #141313;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 3px solid #141313;
}
.achievements__number {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.achievements__cup {
  margin: 6px 0 0;
  text-align: center;
}
.achievements__right-column {
  margin: 30px 0 0;
  margin-left: -3px;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../images/1642439620_12-abrakadabra-fun-p-vodka-na-chernom-fone-16.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../images/1642439620_12-abrakadabra-fun-p-vodka-na-chernom-fone-16.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 30px 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: black;
}