@import '_variables';

.description-of {
  background-color: $new-white;
  height: auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__text {
    @include fonts;
    color: $new-grey;
    font-size: 30px;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    // font-weight: 100;
    letter-spacing: .1rem;

  }

  .flavora-font {
    @include font-text;
    font-size: 30px;
  }

  // Медиа-запрос для экранов шириной до 768px
  @media (max-width: 768px) {    
    &__text {
      font-size: 22px;
      max-width: 100%;
      gap: 30px;
    }
    .flavora-font {
      @include font-text;
      font-size: 23px;
    }

  }
}
