@font-face {
  font-family: 'ReformaGrotesk';
  src: url('../../public/fonts/ReformaGroteskMedium.woff2') format('woff2'),
       url('../../public/fonts/ReformaGroteskMediumC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('../../public/fonts/ReformaGroteskBold.woff2') format('woff2'),
       url('../../public/fonts//ReformaGroteskBoldC.woff') format('woff');
  font-weight: bold;
  font-style: bold;
};