@import 'variables';

.social-icons {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 9999;

  &__icon {
    // width: 50px;
    // height: 50px;
    // background-color:black;
    list-style-type: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  };

  &__link {
    width: 30px;
    height: 30px;
    display: block;
  }

  &__icon.telegram-icon {
    background-image: url('../../public/images/free-icon-font-telegram-6422206.svg');
  };

  &__icon.inst-icon {
    background-image: url('../../public/images/free-icon-font-instagram-6422200.svg');
  };

  &__icon.watsapp-icon {
    background-image: url('../../public/images/free-icon-font-whatsapp-6422213.svg');
    margin: 7px 0
  };
};