// Стили для SocialIcons внутри Popup
.social-icons {
  display: flex; // Размещаем иконки горизонтально
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
  padding: 0;

  &__icon {
    list-style-type: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
    width: 40px;
    height: 40px;
    fill: red;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
  }

  &__icon.telegram-icon {
    background-image: url('../../images/free-icon-font-telegram-6422206.svg');
  }

  &__icon.inst-icon {
    background-image: url('../../images/free-icon-font-instagram-6422200.svg');
  }

  &__icon.watsapp-icon {
    background-image: url('../../images/free-icon-font-whatsapp-6422213.svg');
  }
}

// Анимация появления
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}