// $primary-color: #523475;
$primary-color: #fff;
// $primary-color: #ff0000;
$border-color: #141313;
$heading-color: #fff;
$background-color: #2e27272e;

@mixin fonts () {
  color: $primary-color;
  font-family: 'ReformaGrotesk', sans-serif;
  font-weight: 400;
}

@mixin borders () {
  border: 2px solid $border-color;
  border-right: none;
  box-sizing: border-box;
}