@import '_Header';
@import '_Navbar';
@import '_fonts';
@import '_Banner';
@import '_Achievements';
@import '_Calc';
@import '_Socialicons';
@import '_Contacts';
@import '_UsProducts';
@import '_Product';
@import '_SliderImage';
@import '_SliderDescription';
@import '_SliderItem';
@import '_SliderItem2';
@import '_VideoPlayer';
@import '_Footer';

.main {
  background-image: 
    // linear-gradient(
    // rgba(0, 0, 0, 0.7),
    // rgba(0, 0, 0, 0.7)
    // ),
    url('/images/Default_A_light_almost_white_background_In_the_foreground_slig_2.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 30px 60px;
  // padding: 0 60px;
  box-sizing: border-box;
  max-height: 700px;
  position: relative;
};