@import '_Header';
@import '_Navbar';
@import '_fonts';
@import '_Banner';
@import '_Achievements';
@import '_Calc';
@import '_Socialicons';
@import '_Contacts';
@import '_UsProducts';
@import '_Product';
@import '_SliderImage';
@import '_SliderDescription';
@import '_SliderItem';
@import '_SliderItem2';
@import '_VideoPlayer';
@import '_Footer';
@import '_DescripOfComp';

.main {
  background-image: 
    // linear-gradient(
    // rgba(0, 0, 0, 0.7),
    // rgba(0, 0, 0, 0.7)
    // ),
    url('/public/images/a_professional_-enhanced12.png');
  background-color: $new-white;  
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 30px 60px;
  // padding: 0 60px;
  box-sizing: border-box;
  max-height: 700px;
  position: relative;

  // ===== Смещение на мобильных =====
  @media (max-width: 768px) {
    background-position: left 54% center; // Смещение влево
  }
};